<html ng-app="app">
 <head>
   <title>Angular JS Project</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="search1.js"></script>
  </head>
  <body>
   <div ng-controller="mycontrol">
     <form class="form-horizontal">
       <input type="text" placeholder="Search" ng-model="option" id="new"/>
       <button  ng-click="search()"><a href="#filter"/>search</a></button>
      </form>
      <div ng-view></div>
    </div>
  </body>
</html>
